<div class="editar-ac">

    <div class="title-container">
        <h4 class="title is-4">Editar Accion de Control</h4>
    </div>

    <div *ngIf="recurso" class="column-container">

        <div class="column-item">
            <div class="field">
                <label class="label">Actividad de Control</label>
                <div class="control">
                    <textarea [(ngModel)]="recurso.mta_actividad" class="textarea"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="checkbox custom-checkbox">
                    <input [(ngModel)]="recurso.mta_existe" type="checkbox">
                    Existe el Control?
                </label>
                <div class="control">
                    <textarea [(ngModel)]="recurso.mta_existe_descrip" class="textarea"></textarea>
                </div>
            </div>
        </div>
    
        <div class="column-item">
            <div class="field">
                <label class="checkbox custom-checkbox">
                    <input [(ngModel)]="recurso.mta_norma"  type="checkbox">
                    Está previsto en normas?
                </label>
                <div class="control">
                    <textarea [(ngModel)]="recurso.mta_norma_descrip" class="textarea"></textarea>
                </div>
            </div>
        
            <div class="field">
                <label class="label">Referencia de Cumplimiento: </label>
                <div class="control">
                    <textarea [(ngModel)]="recurso.mta_referencia" class="textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    
    
    <div *ngIf="recurso" class="field is-grouped footer-container">
        <div class="btn-container">
            <div class="control">
                <button (click)="onClickGuardar()" class="button is-link">Grabar</button>
            </div>
            <div class="control">
                <button
                    routerLink="/auditoria/consulta-matriz"
                    queryParamsHandling="preserve"
                    class="button is-text">Volver</button>
            </div>
        </div>
    
        <div class="estado-container">
            <label class="label">Estado: </label>
            <div class="control">
                <label class="radio">
                    <input [(ngModel)]="recurso.mta_ac_estado" type="radio" name="answer" value="A">
                    Adecuada
                </label>
                <label class="radio">
                    <input [(ngModel)]="recurso.mta_ac_estado" type="radio" name="answer" value="I">
                    Inadecuada
                </label>
            </div>
        </div>
    </div>

    <app-basic-modal
        [isActive]="dataModal ? true : false"
        [title]="dataModal ? dataModal.title : null"
        [innerText]="dataModal ? dataModal.innerText : null"
        [acceptCallback]="dataModal ? dataModal.acceptCallback : null"
        >
    </app-basic-modal>
</div>