.editar-ac {
    //width: 70vh;

    .title-container {
        color: #393939;
        border-bottom: 1px solid #c5c9cb;
        border-top: 1px solid #c5c9cb;
        text-align: center;
        padding: 3.5% 0 3% ;
        margin-bottom: 4%;
    }


    .column-container {
        display: flex;
        justify-content: space-between;

        .column-item {
            margin: 10px;
            width: 100%;


        }
    }

    .custom-checkbox {
        font-weight: bold;
        margin-bottom: .5em;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        margin: 11px;

        .btn-container {
            display: flex;
        }

        .estado-container {
            display: flex;
            margin-top: 10px;
            > label {
                padding-right: 7px;
            }
        }
    }


}