.editar-oc {
    // width: 54vh;

    .title-container {
        color: #393939;
        border-bottom: 1px solid #c5c9cb;
        border-top: 1px solid #c5c9cb;
        text-align: center;
        padding: 3.5% 0 3% ;
        margin-bottom: 4%;
    }

    .btn-container {
        display: flex;
    }
}