@import '../../../../../../../../../styles.scss';

.ac-table {
    .table {

        thead {
            > tr {
                border-bottom: solid #f8f7f7 2px;
                background: #f8f7f7;
            }
        }

        tbody, thead {
            > tr {
                border-left: solid #f8f7f7;
                border-bottom: solid #f8f7f7;
            }

            .detalles-rr-tr {
                border-left: none;
            }

            .td-content {
                @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);  
            }
        }

        .detalles-tabla-td {
            // padding-top: 0;
            padding: 0;
        }

        tbody {
            .acciones-container {
                display: flex;

    justify-content: flex-end;

                .btn-accion {
                    cursor: pointer;
                    padding: 1px 5px 1px 5.4px;
                }
            }
        }

    }

    .table-inner {
        tr > th {
            white-space: nowrap;
        }
    }
}

.indent-children {
    margin-bottom: none;
}

/*
.table tbody {
    
    tr:first-child {
        border-bottom: solid #f8f7f7 2px;
        background: #f8f7f7;
    }

    > tr {
        border-left: solid #f8f7f7;
        border-bottom: solid #f8f7f7;
    }

    .acciones-container {
        display: flex;
        justify-content: flex-end;

        .btn-accion {
            cursor: pointer;
            padding: 1px 5px 1px 5.4px;
        }
    }

    .td-content {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
    }
}
*/