<div class="tr-table">
    <table class="table table-inner" style="width:100%">
        <tr>
            <th *ngFor="let c of columns">
                {{ c.headerName }}
            </th>

            <th></th>
        </tr>
        <tr *ngFor="let child of data">
            <td *ngFor="let col of columns">
                <div class="td-content">
                    {{ child[col.field] }}
                </div>
            </td>

            <!-- Columna para ACCIONES -->
            <td>
                <div class="acciones-container">

                    <div class="btn-accion">
                        <i class="fas fa-edit"></i>
                    </div>
                    <div class="btn-accion">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>