<div class="nuevo-oc">

    <div class="title-container">
        <h4 class="title is-4">Nuevo Objetivo de Control</h4>
    </div>

    <div class="field">
        <label class="label">Categoria</label>
        <div class="control">
            <div class="select">
                <select [(ngModel)]="recurso.mto_c_categoria">
                    <option *ngFor="let c of categorias | async" [ngValue]="c.co_c_categoria">
                        {{ c.co_descrip }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Riesgo</label>
        <div class="control">
            <div class="select">
                <select [(ngModel)]="recurso.mto_c_riesgo">
                    <option *ngFor="let r of riesgos | async" [ngValue]="r.rsg_c_riesgo">
                        {{ r.rsg_descrip }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">% Máximo Asignado</label>
        <div class="control">
            <input [(ngModel)]="recurso.mto_p_maximo" class="input" type="text">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox">
                Habilitacion para el Calculo
            </label>
        </div>
    </div>


    <div class="field">
        <label class="label">Objetivo de Control</label>
        <div class="control">
            <textarea [(ngModel)]="recurso.mto_objetivo" class="textarea"></textarea>
        </div>
    </div>

    <div class="field is-grouped btn-container">
        <div class="control">
            <button (click)="onClickGrabar()" class="button is-link">Grabar</button>
        </div>
        <div class="control">
            <button
                routerLink="/auditoria/consulta-matriz"
                queryParamsHandling="preserve"
                class="button is-text">Volver</button>
        </div>
    </div>

    <app-basic-modal
        [isActive]="dataModal ? true : false"
        [title]="dataModal ? dataModal.title : null"
        [innerText]="dataModal ? dataModal.innerText : null"
        [acceptCallback]="dataModal ? dataModal.acceptCallback : null"
        >
    </app-basic-modal>
</div>
