.consulta-matriz {
    height: 100%;
    // min-width: 79vw;
    padding: 0.4rem;
    max-width: 80vw;

    .title {
        font-size: 1.3rem;
        margin-bottom: 0.9rem;
    }
    .subtitle {
        font-size: 0.95rem;
    }

    .filter-container {
        min-width: 79vw;
        .card {
            font-size: 0.83rem;
            .card-header {
                padding-top: .2rem;
            }
        }
        .card-content { 
            display: flex;
            justify-content: space-between;
            // padding: 1rem 0.3rem 0.7rem;
            padding: 0.4rem 0.6rem 0.3rem 0rem;

            .filter-inside-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                .filtro-item {
                    display: flex;
                    margin: .3rem .5rem;
                    padding: .1rem .5rem;
    
                    > span {
                        // margin: 0 .5rem 0 0;
                        margin: 0.3rem .5rem 0 0;
                        white-space: nowrap;
                    }
    
                    > .select {
                        max-width: 12rem;
                    }
                }
            }

            .btn-container {
                margin: 0 0.2rem 0 1rem;
                padding: 0.5rem 0.4rem 0.3rem;
            }
        }
    }

    .grid-container {
        margin: 4vh 0;
    }

    .no-data {
        text-align: center;
        /* font-weight: bold; */
        border: 2px solid #d6dbde;
        background-color: white;
        padding: 8px;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;

        margin-top: 1%;
    }
}