<div class="consulta-matriz">
    <h1 class="title">Consulta de matrices</h1>

    <div class="filter-container">
        <div class="card">

            <header class="card-header" style="height: 30px">
                <p class="card-header-title">
                    Filtros de Consulta
                </p>
                <a (click)="showFiltros = !showFiltros" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>

            <div *ngIf="showFiltros" class="card-content">
                
                <div class="filter-inside-container">
                    <div class="filtro-item">
                        <span>Ciclo</span>
                        <div class="select is-small">
                            <select
                                [(ngModel)]="filtros.cl_c_ciclo"
                                (ngModelChange)="updateSubciclos($event)"
                                [compareWith]="utilsService.onSimpleCompareRecurso" 
                                >
                                <option *ngFor="let c of ciclos" [ngValue]="c.cl_c_ciclo">
                                    {{ c.cl_nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
    
                    <div class="filtro-item">
                        <span>Sub Ciclo</span>
                        <div class="select is-small">
                            <select
                                [(ngModel)]="filtros.cls_n_subciclo"
                                (ngModelChange)="updateActividades($event) && updateComponentes($event)"
                                [compareWith]="utilsService.onSimpleCompareRecurso" 
                                >
                                <option *ngFor="let s of subCiclos" [ngValue]="s.cls_n_subciclo">
                                    {{ s.cls_nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
    
                    <div class="filtro-item">
                        <span>Actividad</span>
                        <div class="select is-small">
                            <select
                                [(ngModel)]="filtros.mt_actividad"
                                [compareWith]="utilsService.onSimpleCompareRecurso" 
                                >
                                <option *ngFor="let a of actividades" [ngValue]="a.mt_actividad">
                                    {{ a.mt_actividad }}
                                </option>
                            </select>
                        </div>
                    </div>
    
                    <div class="filtro-item">
                        <span>Componente</span>
                        <div class="select is-small">
                            <select
                                [(ngModel)]="filtros.mt_componente_ci"
                                [compareWith]="utilsService.onSimpleCompareRecurso" 
                                >
                                <option *ngFor="let c of componentes" [ngValue]="c.mt_componente_ci">
                                    {{ c.mt_componente_ci }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="btn-container">
                    <button (click)="onClickBuscar()" class="button is-small">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                        <span>Buscar</span>
                    </button>
                </div>
                
            </div>
        </div>

    </div>

    <div *ngIf="objetivosControl" class="grid-container">
        
        <oc-table
            *ngIf="objetivosControl.length > 0"
            [data]="objetivosControl"
            [columns]="columnsOc"
            [updateMatricesTrigger]="updateMatrices"
        ></oc-table>

        <div *ngIf="objetivosControl.length === 0" class="no-data">
            ¡Esta matriz aún no tiene ningún Objetivo de Control!
        </div>

    </div>

    <div *ngIf="objetivosControl && objetivosControl.length > 0" class="btn-container">
        <a 
            routerLink="/auditoria/consulta-matriz/nuevo-oc" 
            queryParamsHandling="merge"
            [queryParams]="{
                mto_n_ciclo: objetivosControl[0].mto_n_ciclo
            }"
            class="button is-outlined">
            <span style="text-transform: capitalize">Nuevo OC</span>
        </a>
    </div>

    
</div>