<aside class="menu aside-menu">
    <p 
        (click)="toggleMenus.mantenimiento = !toggleMenus.mantenimiento"
        class="menu-label">
        <span class="icon">
            <i class="fas fa-tools"></i>
        </span>
        <span>Mantenimiento</span>
    </p>
    <ul 
        *ngIf="toggleMenus.mantenimiento"
        class="menu-list">
        <li>
            <a>Altas, Bajas, Modif</a>
            <ul>
                <li><a>ABM Auditoria</a></li>
                <li><a>ABM Cargos</a></li>
                <li><a>ABM Categorias</a></li>
                <li><a class="is-active">ABM Matrices</a></li>
            </ul>
        </li>
        <li><a>Otro Menu 1</a></li>
        <li><a>Otro Menu 2</a></li>
    </ul>

    <p 
        (click)="toggleMenus.auditorias = !toggleMenus.auditorias"
        class="menu-label">
        <span class="icon">
            <i class="fas fa-file"></i>
        </span>
        <span>Auditorias</span>
    </p>
    <ul 
        *ngIf="toggleMenus.auditorias"
        class="menu-list">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
    </ul>

    <p 
        (click)="toggleMenus.listados = !toggleMenus.listados"
        class="menu-label">
        <span class="icon">
            <i class="fas fa-list"></i>
        </span>
        <span>Listados</span>
    </p>
    <ul 
        *ngIf="toggleMenus.listados"
        class="menu-list">
        <li><a>Lista 1</a></li>
        <li><a>Lista 2</a></li>
    </ul>

    <p 
        (click)="toggleMenus.usuarios = !toggleMenus.usuarios"
        class="menu-label">
        <span class="icon">
            <i class="fas fa-user"></i>
        </span>
        <span>Usuarios</span>
    </p>
    <ul 
        *ngIf="toggleMenus.usuarios"
        class="menu-list">
        <li><a>Usuario 1</a></li>
        <li><a>Usuario 2</a></li>
    </ul>

    <p 
        (click)="toggleMenus.ayuda = !toggleMenus.ayuda"
        class="menu-label">
        <span class="icon">
            <i class="fas fa-question"></i>
        </span>
        <span>Ayuda</span>
    </p>
    <ul 
        *ngIf="toggleMenus.ayuda"
        class="menu-list">
        <li><a>Ayuda 1</a></li>
        <li><a>Ayuda 2</a></li>
    </ul>
</aside>