.aside-menu {
    margin: 1.2rem 1.3rem 1rem 0.1rem;

    .menu-label {
        cursor: pointer;
        text-decoration: none;
        user-select: none;
        font-size: 0.8rem;
        padding: 0.3rem 0rem 0.2rem 0.3rem;
        color: #363636;
        white-space: nowrap;
    }

    .menu-list {
        font-size: 0.8rem;
        padding-left: 1.8rem;
    }
}