<div *ngIf="recurso" class="editar-rr">

    <div class="title-container">
        <h4 class="title is-4">Editar Riesgo Relacionado</h4>
    </div>

    <div class="field">
        <label class="label">Riesgo Relacionado</label>
        <div class="control">
            <textarea [(ngModel)]="recurso.mtr_riesgo" class="textarea"></textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">Acción Recomendada</label>
        <div class="control">
            <textarea [(ngModel)]="recurso.mtr_accion" class="textarea"></textarea>
        </div>
    </div>

    <div class="field is-grouped btn-container">
        <div class="control">
            <button (click)="onClickGuardar()" class="button is-link">Grabar</button>
        </div>
        <div class="control">
            <button 
                routerLink="/auditoria/consulta-matriz"
                queryParamsHandling="preserve" 
                class="button is-text">Volver</button>
        </div>
    </div>

    <app-basic-modal
        [isActive]="dataModal ? true : false"
        [title]="dataModal ? dataModal.title : null"
        [innerText]="dataModal ? dataModal.innerText : null"
        [acceptCallback]="dataModal ? dataModal.acceptCallback : null"
        >
    </app-basic-modal>
</div>