<section class="section login">

    <app-basic-modal
        [isActive]="dataModal ? true : false"
        [title]="dataModal ? dataModal.title : null"
        [innerText]="dataModal ? dataModal.innerText : null"
        [acceptCallback]="modalAcceptCallback()"
        >

    </app-basic-modal>

    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Auditoria</h3>
            <p class="subtitle has-text-grey">Ingrese empresa, usuario y clave para continuar</p>
            <div class="box">
                <form (submit)="login()">
                    <div class="field">
                        <div class="control">
                            <input [(ngModel)]="usuario.empresa" name="empresa" class="input is-large" type="text" placeholder="Empresa" autofocus="">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input [(ngModel)]="usuario.nombre" name="nombre" class="input is-large" type="email" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input [(ngModel)]="usuario.clave" name="clave" class="input is-large" type="password" placeholder="Clave">
                        </div>
                    </div>

                    <button type="submit" class="button is-block is-info is-large is-fullwidth">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Por las dudas guardo esto
<div class="field">
    <label class="checkbox">
    <input type="checkbox">
    Remember me
</label>
</div>
-->
