.login {
    .container {
        .title, .subtitle {
            text-align: center;
        }
    }

    /////////////////////////////////////
    //////// STYLES DEL TEMPLATE ////////
    /////////////////////////////////////
    .box {
        margin-top: 5rem;
    }
    .avatar {
        margin-top: -70px;
        padding-bottom: 20px;
    }
    .avatar img {
        padding: 5px;
        background: #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
    input {
        font-weight: 300;
    }
    p {
        font-weight: 700;
    }
    p.subtitle {
        padding-top: 1rem;
    }  
}


