.auditoria {
    height: 100%;
    margin: 1vh;
    display: flex;
    flex-direction: column;

    .body-container {
        height: 100%;
        margin: 3vh 5vh 5vh 0;
        display: flex;

        app-aside-menu {
            border-right: solid #7a7a7a5c 2px;
            // margin-right: 5.8vh;
            margin-right: 3.9vh;
        }
    }
}