<div class="auditoria">
    <div class="header-container">
        <app-main-header></app-main-header>
    </div>
    <div class="body-container">
        <app-aside-menu></app-aside-menu>
        <router-outlet></router-outlet>
    </div>
</div>
