<div class="rr-table">

    <table class="table table-inner" style="width:100%">
        <thead>
            <tr>
                <!-- Columna con btn para expandir/contraer -->
                <th></th>
                
                <th *ngFor="let c of columns">
                    {{ c.headerName }}
                </th>

                <!-- ColUmna ACCIONES -->
                <th style="text-align: end;">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let child of data">
                <tr class="oc-tr">
                    <!-- Columna con btn para expandir/contraer -->
                    <td>
                        <div 
                            *ngIf="child && child.children && child.children.length > 0"
                            (click)="child.showDetalles = !child.showDetalles" 
                            class="icon-item">
                            <i *ngIf="!child.showDetalles" class="fas fa-angle-right"></i>
                            <i *ngIf="child.showDetalles" class="fas fa-angle-down"></i>
                        </div>
                    </td>
        
                    <td *ngFor="let col of columns">
                        <div class="td-content">
                            {{ child[col.field] }}
                        </div>
                    </td>

                    <!-- Columna para ACCIONES -->
                    <td>
                        <div class="acciones-container">
                            <div class="btn-accion" 
                                [routerLink]="['/auditoria/consulta-matriz/editar-rr/' + child.mtr_n_riesgo]"
                                queryParamsHandling="preserve"
                                class="btn-accion">
                                <i class="fas fa-edit"></i>
                            </div>
                            <div 
                                (click)="onClickDelete(child)"
                                class="btn-accion">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div>
                                <i style="padding: 0 7px;" class="fas fa-letter">
                                    |
                                </i>
                            </div>

                            <!-- mta_n_objetivo: oc.mto_n_objetivo -->
                            <div
                                [routerLink]="['/auditoria/consulta-matriz/nuevo-ac']"
                                queryParamsHandling="merge"
                                [queryParams]="{
                                    mto_n_objetivo: child.mto_n_objetivo,
                                    mtr_n_riesgo: child.mtr_n_riesgo
                                }"
                                class="btn-accion btn-accion-nuevo">
                                <i class="fas fa-letter">
                                    AC
                                </i>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="child.showDetalles" class="detalles-rr-tr">
                    <td class="indent-children" colspan="1">

                    </td>
                    
                    <td class="detalles-tabla-td" colspan="10">
                        <ac-table
                            [data]="child.children"
                            [columns]="columns"
                            [updateMatricesTrigger]="updateMatricesTrigger"
                        >
                        </ac-table>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>