html, body {
    background: #F2F6FA;
    height: 100%;
}


// styles generales
.icon-item {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;

    // :hover {
    //     background: #eaeaea;
    // }
}

.fa-letter {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4.2px;
}



/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
}

.fa-letter {
  font-size: 14px !important;
}