<div class="main-header">
    <div class="title-container">
        <h1 class="title">Sistema de Auditoría Interna</h1>
    </div>
    <div class="options-container">

        <div class="auditoria-container">
            <div class="select is-small">
                <select 
                    [(ngModel)]="au_n_auditoria_select"
                    (ngModelChange)="onChangeAuditoria($event)"
                    >
                    <option *ngFor="let a of auditorias" [ngValue]="a">
                        {{ a.descrip }}
                    </option>
                </select>
            </div>
        </div>

        <a (click)="exit()" class="button is-outlined">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
            <span style="text-transform: capitalize">{{ localStorageService.getUsuario() }}</span>
        </a>
    </div>
</div>