.main-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #7a7a7a5c 2px;
    // padding: 0.7rem 0.6rem 0.9rem;
    padding: 0.4rem 0.6rem 0.6rem;

    .title-container {
        .title {
            font-size: 1.5rem;
            padding: 0.5rem 0.5rem 0.2rem;
            color: #363636;     
            font-weight: 100;
        }
    }

    .options-container {
        display: flex;
        // flex-direction: column;
        padding: 0.2rem 0.6rem 1.1px;

        .auditoria-container {
            padding: 8px;
        }
    }
}