@import '../../../../../styles.scss';

.oc-table {
    overflow: auto;
    //max-height: 70vh;
    font-size: 0.87rem;

    .table {

        thead > tr  {

            border-bottom: solid #f8f7f7 2px;
            background: #f8f7f7;

            > th {
                white-space: nowrap;
                border: none;
            }
        }
        
        tbody {
            .detalles-oc-tr {
                padding-bottom: 8px;
                .detalles-titulo {
                    font-size: 1.2rem;
                    font-size: 0.9rem;
                }
        
                .detalles-tabla-td {
                    padding: 0 !important;
                    tr th {
                        font-size: 0.9rem;
                        border: solid 0px;
                        font-weight: 500;
                    }

                    .rr-table-container {
                        .btn-container {
                            margin: 11px 7px;
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .acciones-container {
                display: flex;

                justify-content: flex-end;

                .btn-accion {
                    cursor: pointer;
                    padding: 1px 5px 1px 5.4px;
                }

                .btn-accion-nuevo {
                    // padding: 1px;
                    // font-size: 13px;
                    // padding: 0.8px 2.5px 2px;
                    // border: solid 1.5px #bcbcbc;
                    margin: 0 0px 2px;
                    padding: 1px 1px 1px 5.4px;

                    > .fa-letter {
                        font-size: 14px !important;
                    }
                }
            }

            .td-content {
                @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);  
            }
        }
    }
}

.indent-children {
    margin-bottom: none;
}