<div class="oc-table">

    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <!-- Columna con btn para expandir/contraer -->
                <th></th>
                
                <th *ngFor="let c of columns">
                    {{ c.headerName }}
                </th>

                <!-- Columna para ACCIONES -->
                <th style="text-align: end;">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let oc of data; let i = index">
                <tr class="oc-tr">
                    <!-- Columna con btn para expandir/contraer -->
                    <td>
                        <div
                            *ngIf="oc && oc.children && oc.children.length > 0" 
                            (click)="oc.showDetalles = !oc.showDetalles" 
                            class="icon-item">
                            <i *ngIf="!oc.showDetalles" class="fas fa-angle-right"></i>
                            <i *ngIf="oc.showDetalles" class="fas fa-angle-down"></i>
                        </div>
                    </td>
                    
                    <td *ngFor="let col of columns">
                        <div class="td-content">
                            {{ oc[col.field] }}
                        </div>
                    </td>

                    <!-- Columna para ACCIONES -->
                    <td>
                        <div class="acciones-container">
                            <div 
                                [routerLink]="['/auditoria/consulta-matriz/editar-oc/' + oc.mto_n_objetivo]"
                                queryParamsHandling="preserve"
                                class="btn-accion">
                                <i class="fas fa-edit"></i>
                            </div>
                            <div
                                (click)="onClickDelete(oc)" 
                                class="btn-accion">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div>
                                <i style="padding: 0 7px;" class="fas fa-letter">
                                    |
                                </i>
                            </div>
                            <div
                                [routerLink]="['/auditoria/consulta-matriz/nuevo-rr']"
                                queryParamsHandling="merge"
                                [queryParams]="{
                                    mto_n_objetivo: oc.mto_n_objetivo
                                }"
                                class="btn-accion btn-accion-nuevo">
                                <i class="fas fa-letter">
                                    RR
                                </i>
                            </div>
                            <!-- <div
                                [routerLink]="['/auditoria/consulta-matriz/nuevo-ac']"
                                queryParamsHandling="merge"
                                [queryParams]="{
                                    mta_n_objetivo: oc.mto_n_objetivo
                                }"
                                class="btn-accion btn-accion-nuevo">
                                <i class="fas fa-letter">
                                    AC
                                </i>
                            </div> -->
                        </div>
                    </td>
                </tr>

                <tr *ngIf="oc.showDetalles" class="detalles-oc-tr">
                    <td class="indent-children" colspan="1"></td>
                    
                    <td class="detalles-tabla-td" colspan="9">
                        <div class="rr-table-container">
                            <rr-table
                                [data]="oc.children"
                                [columns]="columns"
                                [updateMatricesTrigger]="updateMatricesTrigger"
                            >
                            </rr-table>
    
                            <!-- <div class="btn-container">
                                <a  [routerLink]="['/auditoria/consulta-matriz/nuevo-rr']"
                                    queryParamsHandling="merge"
                                    [queryParams]="{
                                        mtr_n_objetivo: oc.mto_n_objetivo
                                    }"
                                    class="button is-outlined">
                                    <span style="text-transform: capitalize">Nuevo RR</span>
                                </a>
                            </div> -->
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>