<div class="modal" [ngClass]="{ 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                {{ title }}
            </p>
        </header>
        <section class="modal-card-body">
            {{ innerText }}
        </section>
        <footer class="modal-card-foot">
            <button class="button" (click)="acceptCallback()">Aceptar</button>
        </footer>
    </div>
</div>