.modal {
    .modal-card {
        width: 500px;
        .modal-card-head, .modal-card-body {
            text-align: center
        }

        .modal-card-foot {
            justify-content: center;
        }

    }
}